# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore tokens connection with Google Sheets
tokens

# Ignore the file with credentials to connect Google Sheets
src/main/resources/credentials.json
